<h2>Facial Recognition Authentication</h2>
   <video id="myVideo" width="320" height="240"></video>

    <!--canvas element for output -->
    <form><input type='button' id='snapshot' value="snapshot"/></form> 
    <canvas id='output'></canvas> 


    <!--Script files-->
    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/ccv.js"></script>
    <script type="text/javascript" src="lib/face.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>
    </script>