<h2>Menu</h2>
<div>
    <div class="options">


      <div class="row">
        <div class="col">
          <img class="img-circle"  alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Facial</h2>
          <p>.</p>
          <p><a class="btn btn-default" href="#" role="button">Sign in &raquo;</a></p>
        </div>
        <div class="col">
          <img class="img-circle"  style="width: 140px; height: 140px;">
          <h2>Type Pattern</h2>
          <p></p>
          <p><a class="btn btn-default" href="#" role="button">Sign in &raquo;</a></p>
        </div>        <div class="col-lg-4">
          <img class="img-circle"  style="width: 140px; height: 140px;">
          <h2>Password</h2>
          <p></p>
          <p><a class="btn btn-default" href="#" role="button">Sign in &raquo;</a></p>
        </div>
      </div>
</div>
