<h2>Menu</h2>
<div>
    <div class="container">
        <div class="row">
            <div class="face">
                <a href="/modules/face"><img class="img-circle" src="http://upload.wikimedia.org/wikipedia/commons/7/77/Polygon_face.jpg" style="width: 140px; height: 140px;"></a>
                <h3>Face</h3>
                <p>We'll take a snapshot and check who you are. <br>You can't forget your face!</p>
        
            </div>
            <div class="typing">
                <a href="/modules/tempo"><img class="img-circle" src="http://upload.wikimedia.org/wikipedia/commons/0/0a/QWERTY_keyboard.jpg" style="width: 140px; height: 140px;"></a>
                <h3>Typing Pattern</h3>
                <p>Everyone has a unique typing pattern. Just type away and we'll determine your rhythm.</p>
               
            </div>
            <div class="password">
                <a href="/modules/password"><img class="img-circle" src="http://upload.wikimedia.org/wikipedia/commons/9/98/SafeWalletLogo.png" style="width: 140px; height: 140px;"></a>
                <h3>Password</h3>
                <p>Classic password authentication. </p>
             
            </div>
        </div>
  
        <div class="row">
            <div class="voice">
                <a href="#"><img class="img-circle" src="https://openclipart.org/image/300px/svg_to_png/202379/Raseone_Voice.png" style="width: 150px; height: 150px;"></a>
                <h3>Voice</h3>
                <p>Speak and be identified.</p>
            
            </div>
            <div class="game">
                <a href=""><img class="img-circle" src="http://upload.wikimedia.org/wikipedia/commons/2/26/Video_Game_Barnstar_Hires.png" style="width: 150px; height: 150px;"></a>
                <h3>Game</h3>
                <p>Play a simple game - your playing style will tell all. </p>
               
            </div>
            <div class="beat">
                <a href=""><img class="img-circle" src="https://openclipart.org/image/300px/svg_to_png/26172/African_Drum_2.png" style="width: 150px; height: 150px;"></a>
                <h3>Beat</h3>
                <p>Drop a beat. That's <em>your</em> beat.</p>
             
            </div>
        </div>

    </div>
</div>